<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <unpack>false</unpack>
            <scope>compile</scope>
            <includes>
                <include>org.xbib.elasticsearch.plugin</include>
                <include>org.xbib:xbib-oai</include>
                <include>org.xbib:xbib-time</include>
                <include>org.xbib:xbib-datastructures-forkjoin</include>
                <include>xml-apis</include>
                <include>xerces:xercesImpl</include>
                <include>xalan:xalan</include>
                <include>xalan:serializer</include>
            </includes>
        </dependencySet>
    </dependencySets>
    <fileSets>
        <fileSet>
            <directory>${project.build.directory}/releases</directory>
            <outputDirectory>/</outputDirectory>
            <includes>
                <include>*-standalone.jar</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>${project.basedir}</directory>
            <outputDirectory>/</outputDirectory>
            <includes>
                <include>bin/*.sh</include>
                <include>bin/**/*.sh</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>${project.basedir}/src/test/resources</directory>
            <outputDirectory>/</outputDirectory>
            <includes>
                <include>log4j2.xml</include>
                <include>arxiv/*</include>
                <include>europeana1914-1918/*</include>
            </includes>
        </fileSet>
    </fileSets>
    <files>
        <file>
            <source>${basedir}/src/main/resources/plugin-descriptor.properties</source>
            <outputDirectory>/</outputDirectory>
            <filtered>true</filtered>
        </file>
    </files>
</assembly>
